<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
    <div th:replace="fragments/_layoutnavbar::layout-navbar"></div>
    <th:block th:fragment="layout-content">
      <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register -->
          <div class="card px-sm-6 px-0">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="index.html" class="app-brand-link gap-2">
                 
                  <span class="app-brand-text demo text-heading fw-bold">Đăng nhập</span>
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-1">Chào mừng bạn đến trang đặt sân PickleBall 👋</h4>
              <p class="mb-6">Vui lòng đăng nhập để bắt đầu đặt sân</p>

              <form id="formAuthentication" class="mb-6" th:action="@{/login}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="mb-6">
                    <label for="username" class="form-label">Tên đăng nhập</label>
                    <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="username"  
                        placeholder="Nhập email hoặc tên đăng nhập"
                        autofocus required/>
                </div>
                <div class="mb-6 form-password-toggle">
                    <label class="form-label" for="password">Mật khẩu</label>
                    <div class="input-group input-group-merge">
                        <input
                            type="password"
                            id="password"
                            class="form-control"
                            name="password"
                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                            aria-describedby="password" required />
                    </div>
                </div>
                <div class="mb-8">
                    <div class="d-flex justify-content-between">
                        <div class="form-check mb-0">
                            <input class="form-check-input" type="checkbox" id="remember-me" />
                            <label class="form-check-label" for="remember-me"> Nhớ mật khẩu </label>
                        </div>
                        <a href="/forgot-password">
                            <span>Quên mật khẩu?</span>
                        </a>
                    </div>
                </div>
                <div>
                  <p th:if="${param.error}" style="color: red;">Invalid username or password!</p>
                </div>
                
                <input type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>

                <div class="mb-6">
                    <button class="btn btn-primary d-grid w-100" type="submit">Đăng nhập</button>
                </div>
            </form>
            

              <p class="text-center">
                <span>Bạn chưa tài khoản</span>
                <a href="/auth/register">
                  <span>Tạo tài khoản mới </span>
                </a>
              </p>
            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>
    </th:block>
    <div th:replace="fragments/_layoutfooter::layout-footer"></div>
</body>
</html>
