


<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
    <div th:replace="fragments/_layoutnavbar::layout-navbar"></div>
    <th:block th:fragment="layout-content">
      
    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Forgot Password -->
          <div class="card px-sm-6 px-0">
            <div class="card-body">
              <div class="app-brand justify-content-center mb-6">
                <a href="index.html" class="app-brand-link gap-2">
                  <span class="app-brand-text demo text-heading fw-bold">Quên mật khẩu</span>
                </a>
              </div>
              <h4 class="mb-1">Quên mật khẩu?</h4>
              <p class="mb-6">Nhập email để nhận mã xác thực</p>
              <form action="/forgot-password" method="post">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Nhập email của bạn" required>
                </div>
                <button type="submit" class="btn btn-primary">Gửi mã xác nhận</button>
              </form>
              <div class="text-center">
                <a href="/login" class="d-flex justify-content-center">
                  <i class="icon-base bx bx-chevron-left me-1"></i>
                  Quay về trang đăng nhập
                </a>
              </div>
            </div>
          </div>
          <!-- /Forgot Password -->
        </div>
      </div>
    </div>
    <!-- / Content -->
    </th:block>
    <div th:replace="fragments/_layoutfooter::layout-footer"></div>
</body>
</html>
