<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
    <div th:replace="fragments/_layoutnavbar::layout-navbar"></div>
    <th:block th:fragment="layout-content">
        <div class="container-pa">
            <div th:replace="fragments/_layoutsidebaradmin::sidebar-admin"></div>

            <th:block th:fragment="layout-courtmanage" >
            
            </th:block>
        </div>
        
    </th:block>
    <div th:replace="fragments/_layoutfooter::layout-footer"></div>
</body>
</html>
