<footer th:fragment="layout-footer">

    <div class="container-xl">
        <div class="header">
            <div class="header-logo">
                </div>
            <div class="header-links">
                <a href="#">GIỚI THIỆU</a>
                <a href="#">THÔNG TIN</a>
                <a href="#">LIÊN HỆ</a>
            </div>
        </div>

        <div class="footer-content">
            <div class="sidebar">
                <div class="sidebar-title">GIỚI THIỆU</div>
                <p>Đặt săn 247 cung cấp các tiện ích thông minh giúp cho bạn tìm săn bãi và đặt săn một cách hiệu quả nhất.</p>
                <div class="sidebar-links">
                    <a href="#">Chính sách bảo mật</a>
                    <a href="#">Chính sách huỷ (đổi trả)</a>
                    <a href="#">Chính sách kiểm hàng</a>
                    <a href="#">Chính sách thanh toán</a>
                </div>
            </div>

            <div class="contact-info">
                <div class="contact-title">THÔNG TIN</div>
                <div class="company-info">
                    <div class="info-item">Công ty Cổ phần Booking 247</div>
                    <div class="info-item">
                        MST: 0110175404
                    </div>
                    <div class="info-item">
                        Mail: contact@datsan
                    </div>
                    <div class="info-item">
                        Địa chỉ: 01 Võ Oanh, Phường 25, Quận Bình Thành, TP Hồ Chí Minh, Việt Nam
                    </div>
                    <div class="info-item">
                        Điện thoại: 012345567
                    </div>
                    <div class="info-item">Giấy phép ĐKKD số 0110175404 do Sở Kế hoạch và Đầu tư thành phố Hà Nội Cấp ngày 08/11/2022</div>
                </div>

                <div class="contact-box">
                    <div class="contact-box-text">Chăm sóc khách hàng: <br> 0334 0334</div>
                    <button class="contact-box-button">Gọi ngay</button>
                </div>

                <div class="social-links">
                    <div class="social-links-title">TÌM CHÚNG TÔI</div>
                    <div class="social-icons">
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-left">&copy; Datsan247 2021. Toàn bộ bản quyền thuộc Datsan247.</div>
            <div class="footer-right">
                <a href="#">Dành cho chủ sân</a>
                <a href="#">Điều khoản</a>
                <a href="#">Chính sách</a>
                <a href="#">Giới thiệu</a>
            </div>
        </div>
    </div>
</footer>