<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/head :: head"></head>
<body>
    <div th:replace="master/_layoutnavbar::layout-navbar"></div>
    <th:block th:fragment="layout-content">
        <div class="wrapper-ct">
                  <form action="/profile/update" method="post">
                    <div class="wrapper-ct">
                      <div class="profile-container">
                        <div class="profile-card">
                          
                            <div><strong>Họ và tên:</strong> <input type="text" name="fullName" value="Nguyễn Văn A" required /></div>
                            <div><strong>Giới tính:</strong>
                              <select name="gender">
                                <option value="Nam" selected>Nam</option>
                                <option value="Nữ">Nữ</option>
                                <option value="Khác">Khác</option>
                              </select>
                            </div>
                            <div><strong>Ngày sinh:</strong> <input type="date" name="dob" value="1990-01-01" required /></div>
                            <div><strong>Email:</strong> <input type="email" name="email" value="nguyenvana@example.com" required /></div>
                            <div><strong>SĐT:</strong> <input type="text" name="phone" value="0909 999 888" required /></div>
                            <div><strong>Địa chỉ:</strong> <input type="text" name="address" value="123 Đường ABC, Quận 1, TP.HCM" /></div>
                  
                          <button type="submit">💾 Lưu thay đổi</button>
                          <div>
                            <a href="/logout" style="color: red; font-weight: 900;">Đăng xuất</a>

                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
        </div>
    </th:block>
    <div th:replace="master/_layoutfooter::layout-footer"></div>

</body>
</html>
