<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
    <div th:replace="fragments/_layoutnavbar::layout-navbar"></div>
      <th:block th:fragment="layout-content">
        <main class="form-thanhtoan">
          <div id="booking-info"></div>
          <main class="form-thanhtoan">
            <h2>Thông tin thanh toán</h2>
            <p>Gói đăng ký đã chọn: <strong th:text="${selectedPlan}"></strong></p>
        </main>
        <button id="confirm-payment" class="btn-confirm">Xác nhận đã thanh toán</button>
      </th:block>
    </div>
    <div th:replace="fragments/_layoutfooter::layout-footer"></div>
</body>
</html>
