<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
    <div th:replace="fragments/_layoutnavbar::layout-navbar"></div>
    <div class="container-pa">
        <div th:replace="fragments/_layoutsidebar::sidebar"></div>
        <div class="content-pa">
            <h1>Cập nhật thông tin chủ sân</h1>
            <ul>
                <li th:each="role : ${roles}" th:text="${role.name}"></li>
            </ul>
            <section id="personal-info">
                <h2>Thông tin cá nhân</h2>
                <form class="form-input" id="info-form" th:action="@{/update-owner}" method="post" th:object="${user}">
                    <label for="fullName">Họ và tên:</label>
                    <input type="text" id="fullName" name="fullName" th:value="*{username}" required>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" th:value="*{email}" required>

                    <label for="phone">Số điện thoại:</label>
                    <input type="tel" id="phone" name="phone" th:value="*{phone}" required>

                    <label for="address">Địa chỉ:</label>
                    <input type="text" id="address" name="address" th:value="*{address}" required>

                    <button type="submit">Cập nhật thông tin</button>
                </form>
            </section>
        </div>
    </div>
    <div th:replace="fragments/_layoutfooter::layout-footer"></div>
</body>
</html>