<div th:fragment="sidebar" class="sidebar-main">
    <h3>Quản lý Sân</h3>
    <a href="/danhchochusan/statistics" class="menu-item">Thống kê báo cáo</a>
    <a href="/danhchochusan/manage-courts" class="menu-item">Quản lý sân</a>
    <a href="/danhchochusan/manage-timeslots" class="menu-item">Khung giờ & Lịch đặt</a>
    <a href="/danhchochusan/bookings" class="menu-item">Đặt sân</a>
    <a href="/danhchochusan/reviews" class="menu-item">Đánh giá</a>
    <a href="/danhchochusan/withdrawals" class="menu-item">Rút tiền</a>
</div>