<div th:fragment="sidebar-admin" class="sidebar-main">
    <h3>DASHBOARD</h3>
    <a href="/admin/statistics" class="menu-item">Thống kê báo cáo</a>
    <a href="/admin/manage-courts" class="menu-item">Quản lý khách hàng</a>
    <a href="/admin/manage-timeslots" class="menu-item">Quản lý chủ sân</a>
    <a href="/admin/reviews" class="menu-item">Quản lý Đánh giá</a>
    <a href="/admin/withdrawals" class="menu-item">Xử lý Rút tiền</a>
    <a href="/admin/withdrawals" class="menu-item">Liên hệ</a>
</div>